/* ==========================================================================
   athletes / component
   ========================================================================== */

   .athletes{
    padding:125px 0px;
    text-align:right;

        h2{
            margin:0;
        }

       p{
            margin:50px 0px;
            padding-left:540px;
        }
   }

   .cards{
    display:flex;
    gap:30px;

    .card_athlete{
        max-width:350px;
        max-height:350px;
    }
   }