/* ==========================================================================
   hero / component
   ========================================================================== */

   .hero{
        background:url('../assets/images/bg-hero.jpg') no-repeat center right;
        background-size:cover;
        color:var(--color-white);

        h1{
            margin:0;
            font-weight:300;
        }

        .wrapper{
            min-height:866px;
            padding-right:540px;
            display:flex;
            flex-direction:column;
            justify-content:center;
            gap:30px;
        }
   }