/* ==========================================================================
   hero / component
   ========================================================================== */

   .hero{
        background:url('../assets/images/bg-hero.jpg') no-repeat center right;
        background-size:cover;
        color:var(--color-white);
        padding:195px 0px;

        h1{
            font-weight:300;
        }

        .wrapper{
            display:grid;
            grid-template-rows: 1fr 1fr 0.5fr;
            grid-template-columns: 1fr 1fr;
            align-items:center;
            gap:30px;

            .item-b{
                grid-row:2;
            }

            .item-c{
                grid-row:3;
            }
        }

        .button{
            font-family:var(--font-primary);
            font-weight:900;
            text-decoration:none;
            padding:10px 30px;
            outline:4px var(--color-primary) solid;
            border-radius:50px;
            width:fit-content;
            transition: all 0.2s ease-out;

            &:hover{
                color:var(--color-white);
                background-color:var(--color-primary);
            }
        }
   }