{% include '_partials/_header.html' %}

<!-- Hero -->

<section class="hero">
    <div class="wrapper" data-scrolly="fromLeft">
        <h1 class="item-a">
            La <strong>crème</strong>
            <br />
            de la <i>crème</i>
        </h1>
        <p class="item-b">
            Votre rêve de p’tit cul est sur le point de se réaliser. Vous avez toujours rêvé de performer autant sur les internets que sur une surface glacée.
            Saississez votre chance dès aujourd’hui et joignez l’équipe de timCanada afin de vous dépasser dans un environement sécurisé et serein.
        </p>
        <a href="#" class="button item-c">Joignez notre équipe</a>
    </div>
</section>

<!-- Athlètes -->

<section class="athletes">
    <div class="wrapper" data-scrolly="fromRight">
        <h2>Nos athlètes</h2>
        <p>
            Nos athlètes sont sélectionnés parmi les meilleurs de leur génération. Sans aucun ajout d’hormones de croissances (à l’exception des Doritos), ils perfoment
            toujours à leur maximum.
        </p>

        <div class="cards">
            <div class="card_athlete">
                <img src="assets/images/matt-pratt.jpg" alt="" />
                <h3>Matt Pratt</h3>
                <svg class="icon icon--xl">
                    <use xlink:href="#icon-snow"></use>
                </svg>
            </div>

            <div class="card_athlete"></div>
                <img src="assets/images/ben-lavigne.jpg" alt="" />
                <h3>Ben Lavigne</h3>
                <svg class="icon icon--xl">
                    <use xlink:href="#icon-skate"></use>
                </svg>
            </div>

            <div class="card_athlete">
                <img src="assets/images/jeff-white.jpg" alt="" />
                <h3>Jeff White</h3>
                <svg class="icon icon--xl">
                    <use xlink:href="#icon-ski"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

<!-- Gallery -->

<section class="gallery">
    <div class="wrapper">
        <h2>Sports en image</h2>

        <div class="swiper" data-scrolly="fromRight" data-component="Carousel"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/swiper1.jpg" alt="" />
                </div>
                <div class="swiper-slide"></div>
                    <img src="assets/images/swiper2.jpg" alt="" />
                </div>
                <div class="swiper-slide"></div>
                    <img src="assets/images/swiper3.jpg" alt="" />
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
